<div class="test">
    <h1>my-component works!</h1>
    <br><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dolorem, fuga impedit officia magni excepturi
        itaque nobis voluptates perferendis hic assumenda quam perspiciatis rem quas obcaecati, eius neque nulla ipsam.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dolorem, fuga impedit officia magni excepturi
        itaque nobis voluptates perferendis hic assumenda quam perspiciatis rem quas obcaecati, eius neque nulla ipsam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, consectetur perspiciatis soluta atque odio quam at inventore consequatur quisquam voluptate recusandae dolorem blanditiis ipsum non aperiam tenetur veritatis, saepe voluptatem?
    </p>

</div>