.body{

    width: calc(100% - 80px);
    height: 100vh;
    margin-left: 80px;
    z-index: 0;
    position: relative;
    top:0;
    padding: 20px;
    transition: all .3s ease;
}
.body-trimmed{
    width: calc(100% - 255px);
    height: 100vh;
    margin-left: 255px;
}